In [2]:
import pandas as pd
import pyproj
#import utm

In [3]:
df = pd.read_excel('/Users/adelacalle/Desktop/laika_test/calidad_aire/informacion_estaciones_red_calidad_aire.xls',header=4,encoding='latin1')

In [30]:
hh = pd.read_csv('/Users/adelacalle/Downloads/pmed_ubicacion_09_2018/pmed_ubicacion_09_2018.csv',delimiter=';',encoding='latin1')

In [4]:
df.head()

,Unnamed: 0,NÚMERO,ESTACIÓN,DIRECCIÓN,LONGITUD,LATITUD,ALTITUD,TIPO ESTACION *,NO2,SO2,...,BTX,HC,UV,VV,DV,TMP,HR,PRB,RS,LL
0,NaN,4,Pza. de España,Plaza de España,"3º 42' 44,09''O","40º 25' 25,87''N",635.0,UT,X,X,...,NaN,NaN,NaN,X,X,X,X,NaN,NaN,X
1,NaN,8,Escuelas Aguirre,Entre C/ Alcalá y C/ O’ Donell,"3º 40' 56,35''O","40º 25' 17,63''N",670.0,UT,X,X,...,X,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,11,Avda. Ramón y Cajal,Avda. Ramón y Cajal esq. C/ Príncipe de Vergara,"3º 40' 38,48''O","40º 27' 05,31''N",708.0,UT,X,NaN,...,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X
3,NaN,16,Arturo Soria,C/ Arturo Soria esq. C/ Vizconde de los Asilos,"3º 38' 21,24''O","40º 26' 24,17''N",693.0,UF,X,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X
4,NaN,17,Villaverde,C/. Juan Peñalver,"3º 42' 47,96''O","40º 20' 49,70''N",604.0,UF,X,X,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.reset_index(drop=True,inplace=True)
df.drop(df.index[24:],inplace=True)

In [9]:
df.columns[7:]

Index(['NO2', 'SO2', 'CO', 'PM10', 'PM2,5', 'O3', 'BTX', 'HC', 'UV', 'VV',
       'DV', 'TMP', 'HR', 'PRB', 'RS', 'LL'],
      dtype='object')

In [44]:
df.replace('X', True, inplace=True)
df.fillna(False, inplace=True)

In [10]:
df.head()

,NÚMERO,ESTACIÓN,DIRECCIÓN,LONGITUD,LATITUD,ALTITUD,TIPO ESTACION *,NO2,SO2,CO,...,BTX,HC,UV,VV,DV,TMP,HR,PRB,RS,LL
0,4,Pza. de España,Plaza de España,"3º 42' 44,09''O","40º 25' 25,87''N",635.0,UT,X,X,X,...,NaN,NaN,NaN,X,X,X,X,NaN,NaN,X
1,8,Escuelas Aguirre,Entre C/ Alcalá y C/ O’ Donell,"3º 40' 56,35''O","40º 25' 17,63''N",670.0,UT,X,X,X,...,X,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,11,Avda. Ramón y Cajal,Avda. Ramón y Cajal esq. C/ Príncipe de Vergara,"3º 40' 38,48''O","40º 27' 05,31''N",708.0,UT,X,NaN,NaN,...,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X
3,16,Arturo Soria,C/ Arturo Soria esq. C/ Vizconde de los Asilos,"3º 38' 21,24''O","40º 26' 24,17''N",693.0,UF,X,NaN,X,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X
4,17,Villaverde,C/. Juan Peñalver,"3º 42' 47,96''O","40º 20' 49,70''N",604.0,UF,X,X,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [64]:
#dd = pyproj.Proj("+proj=utm +zone=30N, +north +ellps=WGS84 +datum=WGS84 +units=m +no_defs")
UTM30N = pyproj.Proj("init=EPSG:4258 +proj=utm +zone=30N, +north +ellps=WGS84 +datum=WGS84 +units=m +no_defs")

In [66]:
hh.head()

,tipo_elem,id,cod_cent,nombre,x,y
0,URB,3840,01001,Jose Ortega y Gasset E-O - Pº Castellana-Serrano,"441615,343346657","4475767,9421385"
1,URB,3841,01002,Jose Ortega y Gasset O-E - Serrano-Pº Castellana,"441705,882339595","4475769,68733175"
2,URB,3842,01003,Pº Recoletos N-S - Almirante-Prim,"441319,371258338","4474841,15423716"
3,URB,3843,01004,"Pº Recoletos S-N - Pl, Cibeles- Recoletos","441301,63298559","4474763,7275141"
4,URB,3844,01005,(AFOROS) Pº Castellana S-N - Eduardo Dato - P...,"441605,765071902","4476132,13924728"

In [43]:
hh['x'][0].replace(',','.')

'441615.343346657'

In [45]:
lon, lat = dd(hh['x'][0].replace(',','.'), hh['y'][0].replace(',','.'), inverse=True)

In [46]:
dd(lon,lat)

(441615.343346657, 4475767.9421385)

In [62]:
lon, lat = ff(hh['x'][0].replace(',','.'), hh['y'][0].replace(',','.'), inverse=True)

In [63]:
ff(lon,lat)

(441615.343346657, 4475767.9421385)

In [71]:
hh['x'].iloc[:-1].dtype

dtype('O')